<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="MysqlImpl" class="com.test_Spring.dao.impl.UserDaoMysqlImpl"></bean>
    <bean id="OracalImpl" class="com.test_Spring.dao.impl.UserDaoOracalImpl"></bean>


<bean id="UserService" class="com.test_Spring.service.impl.UserServiceImpl">
    <property name="userDao" ref="MysqlImpl"></property>
</bean>

</beans>