<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--常量注入-->
    <bean id="student" class="com.test_Spring.pojo.Student">
        <property name="name" value="mercury23333"></property>
    </bean>

    <bean id="address" class="com.test_Spring.pojo.Address">
        <property name="address" value="Luoyang"></property>
    </bean>
    <bean id="student_me" class="com.test_Spring.pojo.Student">
        <property name="name" value="谢浩然"></property>
        <!--Bean注入-->
        <property name="address" ref="address"></property>
        <!--数组注入-->
        <property name="books">
            <array>
                <value>百年孤独</value>
                <value>如何阅读一本书</value>
                <value>test——book</value>
            </array>
        </property>
        <!--List注入-->
        <property name="hobbys">
            <list>
                <value>read</value>
                <value>sport</value>
                <value>music</value>
            </list>
        </property>
        <!--Map注入-->
        <property name="card">
            <map>
                <entry key="测试" value="值"></entry>
                <entry key="引用类型" value="this is value"></entry>
            </map>
        </property>
        <!--Set注入-->
        <property name="games">
            <set>
                <value>set1</value>
                <value>set2</value>
                <value>set3</value>
                <value>set3</value>
            </set>
        </property>
        <!--Null注入-->
        <property name="wife">
            <null></null>
        </property>
        <!--properties注入-->
        <property name="info">
            <props>
                <prop key="driver">com.mysql.cj.jdbc.Driver</prop>
                <prop key="username">root</prop>
                <prop key="password">rootroot</prop>
            </props>
        </property>
    </bean>
    <!--p命名空间注入-->
    <!--p命名导入约束 : xmlns:p="http://www.springframework.org/schema/p"-->
    <bean id="student_p" class="com.test_Spring.pojo.Student" p:name="test_p" p:books="基督山伯爵, 人类简史"></bean>
    <!--c命名空间注入-->
    <!--导入约束 : xmlns:c="http://www.springframework.org/schema/c"-->

    <bean id="student_c" class="com.test_Spring.pojo.Student"></bean>
</beans>